
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f7f4ed;
}

header {
    background-color: #374729;
    padding: 1rem;
    text-align: center; /* Centrage du menu */
}
header img {
    height: auto;
    max-height: 100px;
    width: auto;
}


nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('images/Golden_Fougere.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 10rem 1rem;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    background-color: #374729;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.services-home {
    padding: 2rem;
    text-align: center;
}

.service-card {
    background-color: #eae7dc;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 400px;
    border-radius: 8px;
}

footer {
    background-color: #374729;
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer-content {
    text-align: center;
    margin-bottom: 0.5rem;
}

.footer-content a {
    color: #eae7dc;
    text-decoration: none;
    margin: 0 5px;
}

.footer-content a:hover {
    text-decoration: underline;
}


.btn-whatsapp {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-whatsapp:hover {
    background-color: #1ebc59;
}
